[submodule "luci-app-ddns-go"]
	path = luci-app-ddns-go
	url = https://github.com/sirpdboy/luci-app-ddns-go
[submodule "netspeedtest"]
	path = netspeedtest
	url = https://github.com/sirpdboy/netspeedtest.git
